

html {
    box-sizing: border-box;
    
  }
  
*,
*::before,
*::after {
    box-sizing: inherit;
  }
  

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px ;
    
}

body.homepage

 {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    float: left;
    padding: 10px;
    margin: 10px 25%;
    
}

.image {
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
   
}

.links {
    font-size: large;
    font-weight: bold;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 26%;
    display: block;
    

}

.links:hover
{
    background-color: red;
    
    

}

.mainSection
    {
  width: 50%;
  height: auto;
  padding: 2px;
  margin: 0 auto;
}

.section2 {
    text-align: center;
}


h3 {
    color: brown;
}

h1 {
    color: darkred;
    display: block;
    margin: 10px auto;
    text-align: center;
    
}

p {
    display: inline;
}

span {
    display: block;
}

a {
    
    text-align: center;
    display: block;
    padding: 5px 2px;
    margin: 5px 200px;
}


