<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Italian Chicken Marinade</title>
</head>
<body>
    <h1>Italian Chicken Marinade</h1>
    <a href="index.html">Back</a>
    <br><br>
    <img src="../static/italian-checken.jpg" alt="Italian Chicken image">
    <h3>Description</h3>
    <p>This Italian dressing chicken marinade is a super simple but delicious way to add flavor before grilling.
        <h3>Ingredients</h3>
    <ul>
        
        <li>
            <p>
                1 (16 ounce) bottle Italian-style salad dressing

            </p>
        </li>
        <li>
            <p>
                1 teaspoon garlic powder            
            </p>
        </li>
        <li>
            <p>
                1 teaspoon salt


            </p>
        </li>
        <li>
            <p>
                4 skinless, boneless chicken breast halves
            </p>
        </li>
        
    </ul>
    <h3>Directions</h3>
    <ol>
        

        <li>
            <p>
                Whisk salad dressing, garlic powder, and salt together in a shallow baking dish; add chicken breasts and turn to coat. Cover the dish with plastic wrap and marinate in the refrigerator, 4 hours to overnight.
            </p>
        </li>

        <li>
            <p>
                Preheat an outdoor grill for high heat and lightly oil the grate.
            </p>
        </li>
        <li>
            <p>
                Remove chicken from marinade and shake off excess; discard remaining marinade.
            </p>

            
        </li>

        <li>
            <p>
                Cook chicken on the preheated grill until no longer pink in the center and the juices run clear, about 7 to 8 minutes on each side. An instant-read thermometer inserted into the center should read at least 165 degrees F (74 degrees C).
            </p>

        </li>
</body>
</html>