<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Best Hamburger Ever</title>
</head>
<body>
    <div class="mainSection">
    
        <h1>Best Hamburger Ever</h1>
        <a href="index.html">Back</a>
        <br><br>
        <img src="../static/hamburger.webp" alt="hamburger image" class="image">
    
        <h3>Description</h3>
        <p>The best burger recipe for summertime grilling! This juicy burger is jam-packed with all kinds of stuff and has no tasteless bread crumbs. Serve on buns with your favorite condiments.
            <h3>Ingredients</h3>
        <ul>
            
            <li>
                <p>
                    1 ½ pounds lean ground beef
                </p>
            </li>
            <li>
                <p>
                    ½ onion, finely chopped
                </p>
            </li>
            <li>
                <p>
                    ½ cup shredded Colby Jack or Cheddar cheese
                </p>
            </li>
            <li>
                <p>
                    1 egg
                </p>
            </li>
            <li>
                <p>
                    1 (1 ounce) envelope dry onion soup mix
                </p>
            </li>
            <li>
                <p>
                    1 clove garlic, minced
                </p>
            </li>
            <li>
                <p>
                    1 tablespoon garlic powder
                </p>
            </li>
            <li>
                <p>
                    1 teaspoon soy sauce
                </p>
            </li>
            <li>
                <p>
                    1 teaspoon Worcestershire sauce
                </p>
            </li>
            <li>
                <p>
                    1 teaspoon dried parsley
                </p>
            </li>
            <li>
                <p>
                    1 teaspoon dried basil
                </p>
            </li>
            <li>
                <p>
                    1 teaspoon dried oregano
                </p>
            </li>
            <li>
                <p>
                    ½ teaspoon crushed dried rosemary
                </p>
            </li>
            <li>
                <p>
                    salt and pepper to taste
                </p>
            </li>

        </ul>
        <h3>Directions</h3>
        <ol>
            <li>
                <p>
                    Preheat an outdoor grill for high heat and lightly oil the grate.
                </p>
            </li>

            <li>
                <p>
                    Meanwhile, combine ground beef, onion, cheese, egg, onion soup mix, minced garlic, garlic powder, soy sauce, Worcestershire sauce, parsley, basil, oregano, rosemary, salt, and pepper in a large bowl. Use your hands to form the mixture into 4 patties.
                </p>
            </li>
            <li>
                <p>
                    Cook patties on the preheated grill until no longer pink in the center and the juices run clear, about 4 to 5 minutes per side. An instant-read thermometer inserted into the center should read at least 165 degrees F (74 degrees C).
                </p>
            </li>
        </ol>
    </div>
</body>
</html>